{% load static from staticfiles %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Title</title>
        <link rel="stylesheet" href="{% static 'styles.css' %}">
    </head>
    <body>
        <div class="wrapper">
            <header>
                <h1><a href="/">FPV Store</a></h1>
                <nav>
                    <ul>
                        <li>
                            <a href="{% url 'products:list' %}">Products</a>
                        </li>
                        <li>
                            <form class="logout-link" action="{% url 'accounts:logout' %}" method="post">
                                {% csrf_token %}
                                <button type="submit">Logout</button>
                            </form>
                        </li>
                    </ul>
                </nav>
            </header>
            {% block content %}
            {% endblock %}
        </div>
    </body>
</html>