{% extends 'base_layout.html' %}
{% block content %}
<h1>Products</h1>
    <div class="container">
        <div class="row">
        {% for product in products %}
                <div class="product-div col-sm-6 col-lg-3">
                    <a href="{% url 'products:product_page' slug=product.slug %}">
                        <header class="product-header"><h4>{{ product.name }}</h4></header>
                        <div class="media">
                            <img src="{{ product.thumb.url }}">
                        </div>
                        {% if product.in_stock == False %}
                            <footer class="product-footer"><p>Out of stock</p></footer>
                        {% endif %}
                    </a>
                </div>
        {% endfor %}
        </div>
    </div>
    <div class="products">
        {% for product in products %}
            <div class="product">
                <h2><a href={% url 'products:product_page' slug=product.slug %} >{{ product.name }}</a></h2>
                <p>{{ product.price }}</p>
                <p>{{ product.in_stock }}</p>
            </div>
        {% endfor %}
    </div>
{% endblock %}